@charset "utf-8";

#assigments {
    width: 60%;
    border-collapse: collapse;
    margin-left:20%; 
    margin-right:20%;
}

#assigments td, #assigments th {
    font-size: 1em;
    border: 1px solid #58BB12;
    padding: 3px 7px 2px 7px;
    text-align: center;
}

#assigments th {
    font-size: 1.1em;
    text-align: center;
    padding-top: 5px;a
    padding-bottom: 4px;
    background-color: #58BB12;
    color: #ffffff;
}

#assigments tr.alt td {
    color: #000000;
    background-color: #58BB12;
}

.footer-social { float: right; margin-top:5px;height:72px}
.footer-social ul { float:left; padding:0;margin:0; }
.footer-social li { display: inline;float:right;}
.footer-social span { float: left;}

.footer-card { float: left; margin-top:5px;}

body
{
    font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
	  color:#AFAFAF;
    background-color: black;
}

h1
{
	font-size: 180%;
	margin: 0 0 .5em;
	text-align: center;
}
h2
{
  text-align:center;
	font-size: 100%;
	margin: 0 0 .5em;
	
}

a:link { color: #58BB12; }
a:visited { color: #58BB12; }
a:hover { color: #FFFFFF; }
a:active { color: #FFFFFF; }
